{{ define "header"}}
<title>表格-{{getWebInfo "name"}}</title>
{{ end }}
{{define "content"}}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        列表
        <small>Demo</small>
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div>
                <div class="box-body">
                    <table id="example" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>a</th>
                                <th>b</th>
                                <th>c</th>
                                <th>d</th>
                                <th>e</th>
                                <th>f</th>
                                <th>g</th>
                                <th>h</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->
{{end}}