{{ define "partials_menu"}}
<div class="user-panel">
    <div class="pull-left image">
        <img src="{{.account.cover}}" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>{{.account.name}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> {{.account.status}}</a>
    </div>
</div>
<form action="#" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>

<ul id="leftMenu" class="sidebar-menu" data-widget="tree">
    <li class="header">{{.info}}</li>
    <li>
        <a href="/">
            <i class="fa fa-link"></i>
            <span>首页</span>
        </a>
    </li>
    <li>
        <a href="/test">
            <i class="fa fa-link"></i>
            <span>测试页面</span>
        </a>
    </li>
</ul>
{{ end }}