{{ define "header"}}
<title>{{.title}}-{{getWebInfo "name"}}</title>
{{ end }}
{{define "content"}}
<!-- Content Header (Page header) -->
<section class="content-header">

</section>

<!-- Main content -->
<section class="content container-fluid">
    <div>
        <h1>{{.title}}</h1>
        <h1>{{.title}}</h1>
    </div>
</section>
<!-- /.content -->
{{end}}