{{ define "scripts"}}
<script type="text/javascript">
    window.PageComplete = function () {
        console.info("PageComplete index....");
        $('#applicationTable').DataTable({
            'serverSide': true,
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            'ajax': "/api/application/list",
            "columns": [
                { "data": "id" },
                { "data": "name" },
                { "data": "created_at" },
                { "data": "mode_count" },
                { "data": "version" },
            ],
            "columnDefs": [
                {
                    "aTargets": [5],
                    "mRender": function (data, type, full) {
                        console.log(data, type, full);
                        return `<a href="javascript:void(0)" data-app-id="${full.id}"><i class="fa fa-edit"></i></a>
<a href="/application/mode/list?app_id=${full.id}" data-app-id="${full.id}"><i class="fa fa-bolt"></i></a>
<a href="javascript:void(0)" data-app-id="${full.id}"><i class="fa fa-tags"></i></a>
<a href="javascript:void(0)" data-app-id="${full.id}"><i class="fa fa-trash-o"> </i></a>`
                    }
                },
            ],
            // "createdRow": function (row, data, dataIndex) {
            //     // if (data[4] == "A") {
            //     //     $(row).addClass('important');
            //     // }
            //     console.log("行被创建了：", row, data, dataIndex);
            // },
            "initComplete": function (settings, json) {
                // $('div.loading').remove();
                console.log('初始化结束');
            }
        });
    }
</script>
{{ end }}